.chat-body{
    display: grid;
    place-items: center;
}
.chat-container{
    display: grid;
    grid: 
    'search-container chat-title' 71px
    'conversation-list  chat-message-list' 1fr
    'new-message-container chat-form' 78px 
    /275px 1fr;

    min-width: 800px;
    max-width: 1200px;
    max-height: 800px;
    width: 100em;
    height: 95vh;
    background: #ffffff;
    border-radius: 10px;
    
}

.search-container, 
.conversation-list, 
.new-message-container{
    background: #065fc4;
}

.search-container{
display: grid;
align-items: center;
padding: 0 20px;
grid-area: search-container;
border-radius: 10px 0 0 0;
box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 75);
z-index: 1;

}

.conversation-list{
    display: grid;
    grid-column: auto;
    align-items: center;
    grid:'user-list chatroom-list' 38px 
    /125px 1fr;
    align-items: flex-start;
    overflow: scroll;
}
.user-list{
    color: #eeeeee;
    border-right: 1px solid rgba(204,204,204,1);
    padding: 20px 20px 20px 20px;
}
.user-list .activeItem >img{
height: 10px;
grid-row: 2;
border-radius: 100%;
margin-left: 1em;

}
.user-list:hover{
    cursor: pointer;
}
.chatroom-list{
    color: #eeeeee;
    padding: 20px 20px 20px 20px;
}
.chatroom-list:hover{
    cursor: pointer;
}
.new-message-container{
    display: grid;
    border-top: 1px solid rgba(0, 0, 0, 75);
    border-radius: 0 0 0 10px;
    grid-area:new-message-container ;
    grid: 40px / 40px;
    border-radius: 0 0 0 10px;
    padding:  0 15px;
    border-top: 1px solid rgba(0, 0, 0, 25);
    background-color: #065fc4;
}
.new-message-container button {
    
    place-content:center;
    background: #eeeeee;
    border-radius: 10%;
    color: #002C88;
    text-decoration: none;
    font-size: 0.6rem;
} 
/* .new-message-container a{
    display: grid;
    place-content: center center;
    background: #eeeeee;
    color: #002C88;
    text-decoration: none;
    font-size: 3.6rem;
} */

 
.chat-title,
.chat-form{
background: #dbdddf;
}
.chat-title{
    display: grid;
   
    grid:16px /1fr 156px 72px; 
    grid-area: chat-title;
    align-content: center;
    align-items: center;
    color: #0048aa;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 75);
    padding: 0 20px;
    
}
.chat-title button{
    grid-area: chat-title;
    width: 0.5fr;
    color: #dbdddf;
    background: #065fc4;
    font-weight: bold;
 

}
.chat-title img{
    width: 1em;
    margin-left: 1em;
}
.chat-message-list{
grid-area: chat-message-list;
background: #ffffff;
border-right:  1px solid rgba(204,204,204,1);
display: flex;
flex-direction: column;
padding: 0 20px;

}
.message-text{
    padding: 9px 14px;
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin: 0.2em;
}.sender{
    font-size: 1.0rem;
    color: #777;
    margin-left: 10px;
}
.your-message .message-text{
    background: #065fc4;
    color: #ffffff;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 14px 14px;
    width: fit-content;
}

.other-message .message-text{
    background: #eee;
    color: #000000;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 14px;
    width: fit-content;
}

.chat-form{ 
display: grid;
grid:46px /1fr 66px;
grid-area: chat-form;
align-items: flex-start;
align-content: center;
border-radius: 0 0 10px 0;
border-top:  1px solid rgba(204,204,204,1);
padding-left: 15px;
padding-right: 45px;
}

.chat-form input{ 
    outline: auto;
    padding: 10px;
    margin-bottom:15px;
    border: 2px solid #dbdddf;
    color: #330;
    border-radius: 6px;
    font-size: 1.4;
    }

    .chat-form button{ 
        outline: medium;
        padding: 10px;
        border: 2px solid #dbdddf;
        border-radius: 6px;
        font-size: 1.2;
        color: #eeeeee;
        font-weight: bold;
        background: #065fc4;
        }

        ::-webkit-scrollbar{
            display: none;
        }