.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 1rem;
    position: relative;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 25vw;
    transform: translate(-50%, -50%);
  }
.cardHeader {
    background: #065fc4;
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    color: #eee;
    text-transform: uppercase;
    transform: skewY(-4deg);
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: -2rem;
    left: -1.75rem;
  }
  
  .cardBody {
    margin-top: 2rem;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  label {
    font-size: 0.9rem;
  }
  
  input {
    border: none;
    padding: 0.5rem 0.1rem;
    width: 100%;
    border-radius: 2px;
    border-bottom: 1px solid #eee;
    transition: all 0.5s;
  }
  
  input:focus {
    border-bottom: 1px solid #ccc;
  }
  
  button {
    background: #065fc4;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    width: 100%;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
  }
  .chatrooms {
    margin-top: 1rem;
  }
.chatroom{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.join{
        background: #065fc4;
    padding: 0.25rem 1rem;
    border-radius: 2px;
}

.chatContent {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  padding: 0.5rem;
  overflow: auto;
}

 
.chatPage {
  display: grid;
  align-items: stretch;
  justify-content: right;
  height: 100vh;
  width: 90vw;
  margin: 10px;
}

.chatSection {
  width:60vw;
  height: 80vh;
  margin: auto;
  border: 5px solid #eee;
  position: relative;
}
.userSection {
  width: 20vw;
  height: 80vh;
  border: 5px solid #eee;
  position: fixed;
  margin-top: 5.5em;
  margin-left: 4em;
}
.chatroomActions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 72px;
  grid-gap: 1rem;
  border-top: 1px solid #eee;
}

.chatroomActions button {
  height: 100%;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}